<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Python-Gyazo Backup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <h1 class="text-center mt-4 mb-4">Python-Gyazo Backup</h1>
    <div class="card-group images">
      {% for image in images %}
      <div class="card mb-2">
        <a href="{% if image.permalink_url %}{{ image.permalink_url }}{% else %}thumbnails/{{ image.thumb_filename }}{% endif %}" class="card-link">
          <img class="card-img-top" src="thumbnails/{{ image.thumb_filename }}">
        </a>
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted">{{ image.local_created_at.strftime("%Y-%m-%d %H:%M") }}</small>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
    <hr>
    <footer class="text-center">
      Built with python-gyazo-backup on {{ now.strftime("%Y-%m-%d %H:%M:%S") }}.
    </footer>
  </body>
</html>
